<div class="country-container">
    <h1 class="country__name">{{name}}</h1>
    <ul class="country__list">
        <li class="country__item">Region: {{region}}</li>
        <li class="country__item">Capital: {{capital}}</li>
        <li class="country__item">Population: {{population}}</li>
        <li class="country__item">Native Name: {{nativeName}}</li>
        <ul>
            <h3>Languages:</h3>
            {{#each languages}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
        <li class="country__item"><img src={{flag}} alt={{name}} class="country__flag"></li>

    </ul>
</div>